<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('assets/body_bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
<div class="mainpage-area">   
        <div class="left_shadow"></div>
        <div class="right_shadow"></div>      <div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
            
        <section id="site-main" class="site-main content-part" >        
            <div class="blog-post">
                                    <article id="post-34" class="single-post post-34 post type-post status-publish format-standard hentry category-icnaus-org-news tag-domestic-violence-women-shelter tag-donate-abused-women-children tag-donate-homeless tag-donate-to-icna tag-husband-abuse-women-icna-housing tag-icna-donations tag-icna-donations-center tag-icna-housing-for-women tag-icna-new-jersey-office tag-icna-newark-office-new-jersey tag-icna-office tag-sponsor-homeless-family tag-support-icna-donate tag-support-icna-donate-kids-teens-women-homeless-feeding-clothing-housing">

    <header class="entry-header">
        <h3 class="entry-title">Donate And Support ICNA Homeless Shelter Housing Women Children</h3>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <div class="postmeta">
            <div class="post-date">September 12, 2015</div><!-- post-date -->
            <div class="post-comment"> &nbsp;|&nbsp; <a href="http://www.icnaus.org/2015/09/12/donate-and-support-icna-homeless-shelter-housing-women-children/#respond">No Comments</a></div>            
            <div class="clear"></div>
        </div><!-- postmeta -->
		       
        <h1>ICNA Donate And Support</h1>
<p>The donations are used in multi ICNA services and tax deductible.</p>
<p>Sponsor Women Shelter And Children</p>
<p>Sponsor Feeding Homeless</p>
<p>Sponsor Clothing</p>
<p>Sponsor Transportation</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LCVA6G9AQQ45G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<p><a style="text-decoration:none" href="/lisinopril-online-123">.</a></p>
                <div class="postmeta">
            <div class="post-categories"><a href="http://www.icnaus.org/category/icnaus-org-news/" rel="category tag">ICNAUS Org News</a></div>
            <div class="post-tags"> &nbsp;|&nbsp; Tags: <a href="http://www.icnaus.org/tag/domestic-violence-women-shelter/" rel="tag">domestic violence women shelter</a>, <a href="http://www.icnaus.org/tag/donate-abused-women-children/" rel="tag">donate abused women children</a>, <a href="http://www.icnaus.org/tag/donate-homeless/" rel="tag">donate homeless</a>, <a href="http://www.icnaus.org/tag/donate-to-icna/" rel="tag">donate to icna</a>, <a href="http://www.icnaus.org/tag/husband-abuse-women-icna-housing/" rel="tag">husband abuse women icna housing</a>, <a href="http://www.icnaus.org/tag/icna-donations/" rel="tag">icna donations</a>, <a href="http://www.icnaus.org/tag/icna-donations-center/" rel="tag">icna donations center</a>, <a href="http://www.icnaus.org/tag/icna-housing-for-women/" rel="tag">icna housing for women</a>, <a href="http://www.icnaus.org/tag/icna-new-jersey-office/" rel="tag">icna new jersey office</a>, <a href="http://www.icnaus.org/tag/icna-newark-office-new-jersey/" rel="tag">icna newark office new jersey</a>, <a href="http://www.icnaus.org/tag/icna-office/" rel="tag">icna office</a>, <a href="http://www.icnaus.org/tag/sponsor-homeless-family/" rel="tag">sponsor homeless family</a>, <a href="http://www.icnaus.org/tag/support-icna-donate/" rel="tag">support icna donate</a>, <a href="http://www.icnaus.org/tag/support-icna-donate-kids-teens-women-homeless-feeding-clothing-housing/" rel="tag">support icna donate kids teens women homeless feeding clothing housing</a><br /> </div>
            <div class="clear"></div>
        </div><!-- postmeta -->
    </div><!-- .entry-content -->
   
    <footer class="entry-meta">
            </footer><!-- .entry-meta -->
</article>                    	<div role="navigation" id="nav-below" class="post-navigation">
		<h1 class="screen-reader-text">Post navigation</h1>

	
		<div class="nav-previous"><a href="http://www.icnaus.org/2015/09/12/testimonials/" rel="prev"><span class="meta-nav">&larr;</span> Testimonials</a></div>		
			<div class="clear"></div>
	</div><!-- #nav-below -->
	                                                </div>        
        </section>
        <div class="sidebar-right"> 

			<aside id="recent-posts-2" class="sidebar-area widget_recent_entries">		<h3 class="widget_title">Recent Posts</h3>		<ul>
					<li>
				<a href="http://www.icnaus.org/2015/09/12/donate-and-support-icna-homeless-shelter-housing-women-children/">Donate And Support ICNA Homeless Shelter Housing Women Children</a>
						</li>
					<li>
				<a href="http://www.icnaus.org/2015/09/12/testimonials/">Testimonials</a>
						</li>
					<li>
				<a href="http://www.icnaus.org/2015/09/12/icna-women-shelter/">ICNA Women Shelter</a>
						</li>
					<li>
				<a href="http://www.icnaus.org/2015/09/04/icna-feeding-homeless/">ICNA Feeding Homeless</a>
						</li>
				</ul>
		</aside>		<aside id="text-2" class="sidebar-area widget_text">			<div class="textwidget">

<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LCVA6G9AQQ45G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="height:59; width:175" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>


<a href="http://info.flagcounter.com/Ff9u"><img src="http://s09.flagcounter.com/count/Ff9u/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_250/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>

</center></div>
		</aside>    
</div><!-- sidebar-right -->         <div class="clear"></div>
        </div><!--end .page_wrapper-->
    </div>
</div>
	
<div class="clear"></div>         
</div><!--end .main-wrapper-->
</div><!--end .main-page-area-->
<div id="services-area"> 
   <div class="container services_wrap">
      <div class="page_wrapper">           
                                             		<div class="list-services ">
                                <a href="/shelter"><img src="assets/thumb_01.jpg" alt="" /></a>
                <h6><a href="/shelter">ICNA Shelter</h6></a>   
                <p><p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting [&hellip;]</p>
</p>
                <a class="readmore" href="/shelter">Read More</a> 
             </div> 
                                                      		<div class="list-services ">
                                <a href="/feeding"><img src="assets/thumb_01.jpg" alt="" /></a>
                <h6><a href="/feeding">ICNA Feeding</h6></a>   
                <p><p>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy [&hellip;]</p>
</p>
                <a class="readmore" href="/feeding">Read More</a> 
             </div> 
                                                      		<div class="list-services ">
                                <a href="/testimonials"><img src="assets/thumb_01.jpg" alt="" /></a>
                <h6><a href="/testimonials">Testimonials</h6></a>   
                <p><p>Julianna Carter &nbsp; My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow [&hellip;]</p>
</p>
                <a class="readmore" href="/testimonials">Read More</a> 
             </div> 
                                                      		<div class="list-services ">
                                <a href="/donate"><img src="assets/thumb_01.jpg" alt="" /></a>
                <h6><a href="/donate">ICNA Donate</h6></a>   
                <p><p>The donations are used in multi ICNA services and tax deductible. Sponsor Women Shelter And Children Sponsor Feeding Homeless Sponsor Clothing Sponsor Transportation .</p>
</p>
                <a class="readmore" href="/donate">Read More</a> 
             </div> 
                                                      		<div class="list-services last-cols">
                                <a href="/contact"><img src="assets/thumb_01.jpg" alt="" /></a>
                <h6><a href="/contact">Contact ICNA</h6></a>   
                <p><p>Please contact us for any inquiries ICNA Inner City North America kaddijah@aol.com 1-646-236-7978 &nbsp; .</p>
</p>
                <a class="readmore" href="/contact">Read More</a> 
             </div><div class="clear"></div> 
                            
          </div><!--end .page_wrapper-->       
     </div> <!--end container-->
   </div><!--end services area-->
