<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('assets/body_bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
<div class="mainpage-area">   
    <div class="left_shadow"></div>
    <div class="right_shadow"></div>      
        <div class="content-area">
            <div class="container main_content_wrap">
                <div class="page_wrapper">
                    <section id="site-main" class="site-main content-part" >            
                    <header class="entry-header">
                    <h1 class="entry-title"><font color="#55A79A">ICNA Feeding</font></h1>
                    </header>
                    <div class="entry-content">
                    <p>
                        <div>
                        <table>
                        <td>
                        <img class="alignnone" src="assets/new.png" alt="" style="height: 250px", width="380px" ;/>
                        </td>
                        <td>
                        <img class="alignnone" src="assets/feed.jpg" alt="" style="height: 250px";/>
                        </td>
                        </table>
                        </div>    
                        <div>
                        <table>
                        <td>
                        <img class="alignnone" src="assets/feeding.jpg" alt="" style="height: 220px" width="300px" ;/>
                        </td>
                        <td>
                        <img class="alignnone" src="assets/feeding2.jpg" alt="" style="height: 220px" width="300px" ;/>
                        </td>
                        </table>
                        </div> 
                        <br>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy women is our serious concern.</p>
                    <p>ICNA operates frequently not a schedule bound, meal program in Newark, New Jersey, providing, meals, clothing drives and assistance to provide home.<a style="text-decoration:none" href="">.</a></p>
                    </div>
                    </section>
                    <div class="sidebar-right"> 
                        <aside id="recent-posts-2" class="sidebar-area widget_recent_entries">    
                        <center><h3><b>Our Visitors</b></h3></center>
                        </aside>    
                        <aside id="text-2" class="sidebar-area widget_text">      
                            <div class="textwidget">
                            <center><br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LCVA6G9AQQ45G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

                            <a href="http://info.flagcounter.com/Ff9u"><img src="http://s09.flagcounter.com/count/Ff9u/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_250/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>
                            </center>   
                            </div>
                        </aside>    
                    </div>          
                        <div class="clear"></div>
                </div>
            </div>  
                <div class="clear"></div>
        </div>
</div>    

<div id="services-area"> 
    <div class="container services_wrap">
        <div class="page_wrapper">           
                <div class="list-services ">
                <a href="/shelter"><img src="assets/thumb_02.jpg" alt="" style="height: 100px" style="width: 100px" /></a>
                <h6><a href="/shelter">ICNA Shelter</a></h6>   
                <p>
                    <p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting [&hellip;]</p>
                </p>
                <a class="readmore" href="/shelter">Read More</a> 
                </div> 
                
                <div class="list-services ">
                <a href="/feeding"><img src="assets/thumb_03.jpg" alt=""  width="130"/></a>
                <h6><a href="/feeding">ICNA Feeding</a></h6>  
                <p>
                    <p>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy [&hellip;]</p>
                </p>
                <a class="readmore" href="/feeding">Read More</a> 
                </div> 
                                                            
                <div class="list-services ">
                <a href="/testimonials"><img src="assets/thumb_04.jpg" alt=""  /></a>
                <h6><a href="/testimonials">Testimonials</a></h6>   
                <p>
                    <p>Julianna Carter &nbsp; My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow [&hellip;]</p>
                </p>
                <a class="readmore" href="/testimonials">Read More</a> 
                 </div> 
                                                            
                <div class="list-services ">
                <a href="/donate"><img src="assets/thumb_05.jpg" alt=""  /></a>
                <h6><a href="/donate">ICNA Donate</a></h6>   
                <p>
                    <p>The donations are used in multi ICNA services and tax deductible. Sponsor Women Shelter And Children Sponsor Feeding Homeless Sponsor Clothing Sponsor Transportation .</p>
                </p>
                <a class="readmore" href="/donate">Read More</a> 
                </div> 
                <div class="list-services last-cols">
                <a href="/contact"><img src="assets/thumb_06.jpg" alt=""  /></a>
                <h6><a href="/contact">Contact ICNA</a></h6>   
                <p>
                <p>Please contact us for any inquiries ICNA Inner City North America kaddijah@aol.com <br>1-646-236-7978 &nbsp; .</p>
                </p>
                <a class="readmore" href="/contact">Read More</a> 
                </div>
                    <div class="clear"></div> 
        </div>      
    </div> 
</div>
