<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('assets/body_bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
<div class="mainpage-area">   
        <div class="left_shadow"></div>
        <div class="right_shadow"></div>      <div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
                
        <section id="site-main" class="site-main content-part" >            
							
<article id="post-14" class="post-14 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title"><font color="#55A79A">Testimonials</font></h1>
    </header><!-- .entry-header -->	

	<div class="entry-content">
		<h3>Julianna Carter</h3>

<p>My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow up fast and learn things fast. As a young woman I should be independent with goals. However life has a way of throwing one obstacle after another. However I have made progress and learned many things about myself. Without Allah’s help I would not have made it this far. Many young woman trying to find their way and don’t make it. I was afraid I knew I had no place to go. I desperately called Wafa House they got me in touch with sister Khadija. Sister Khadija gave me my own room, money for food to eat because, I had not eaten all day. I have also met several wonderful people along the way but, sister Khadija really helped me and took me in. I am happy now and I want to fill my life with happiness as well as love. Allah, has been good to me. Thanks to Allah.</p>
<p>&nbsp;</p>
<h3>Mira Jenning</h3>
<p>I am an American revert to Islam 16 years ago. I found Islam through perfume. I kept passing a oil perfume store that had was beautifully decorated. I was moved to stop and go to the perfume store. I had never seen a Muslim up close in my life. I had only seen them on the tv news. I bought perfume of course but, the Muslim wife and husband spoke to me a little bit about Islam. They gave me a couple of Islamic books. I returned to the perfume store again for more perfume and questions. They answer the best they could. They asked if I would like to go to a welcoming party for a new Muslima. By Allah grace I took my shahada that day. My homelessness story began after I return to the USA. I was living in Morocco with both of my daughters to Morocco four years ago. I did so to preserve my both daughters deen. About one year ago I sent my oldest daughter to my father’s house. I stayed behind in Morocco with my youngest daughter. I came to the USA in emergency for my oldest daughter she needed me. My family tried to convert my daughter to Christianity and my grandson was going to be born. I left Morocco with my youngest daughter.  We stayed at a Muslim shelter in New York but, there was no Muslim family shelter in New York. I had gotten a job but, I had only worked there a short time. I did not have enough money to rent an apartment. I was left no place to go with my family when my grandson was born. I ended up in Florida in another shelter where my life became impossible. I was unable to get help to find neither job nor transportation. A sister recommended I speak to sister Kadija. Sister Kadija took my whole little family in. I have a warm bed for my daughtersand my grandson. By the grace of Allah that he alone has protected me and sent sister Kadija into my life.</p>
<p>&nbsp;</p>
<h2>Jessica</h2>
<p>My name is Jessica and I’m a twenty-nine year old woman from New Orleans, Louisiana. I was born into a strong Baptist family. But about a year ago my life changed for the better. Alhamdulillah, I change my life style by accepting Islam and becoming a Muslim. I am writing this to explain my situation and I pray it touches your heart. If by the end of this letter you feel the need to help. Then you can help me and my fellow sisters.</p>
<p>I was on this online chat site called Smeet from Facebook. Here is where I met many people from around the world. There were two individuals that I talk to most one was from Algeria and the other was from Tunisia. One day I was talking to the one from Tunisia and we started talking about morals and humanity. Then our talk went to Allah and his prophets (peace and blessing be upon them all). About this time I was asked if I would get offended if something was sent to me. Of course I said no as long as it was in English and I could understand it. It was the Holy Quran. I read the entire surah Maryam. By the end of the surah I decided to start reading the Quran from the beginning. I wanted to know if there were other stories similar to the Bible. This is where I began to compare the Bible to the Quran and started to research the two religions.</p>
<p>By the end of my research I had become confused of which one was the right one to be in. So for the first time since I was fifteen I got on my knees and prayed. I asked Allah to forgive me of my sins and promised that if he would show me the right path I would devote myself to worshiping him. I told Allah that I needed him to show me which faith he wanted me to worship Him in. So I asked that if it was Islam to tell me to go straight but if it was Christianity to tell me to turn around. At the end of my prayer my head started to split with pain. So I laid back and closed my eyes… I saw myself standing on a straight dirt path in the middle of greenery. The path went straight until it disappeared into the mountains. As I went to take a step forward something grabbed my arm and told me to turn around. But there was a voice inside of me that said to go straight. I jerked myself free and was sitting up in the bed, the headache now gone. As I wonder if it were a dream or not I reach up to my right arm to find a hand print there. From then on I knew that Islam was to be my faith.</p>
<p>But the story doesn’t end there. As I accepted my new faith, my family did not. I then spent the last year hearing things about my faith, about the Prophet (peace and blessing be upon him) and most about my God. I sat quietly listening and repeating to my family. That just because I accepted Islam doesn’t mean I was telling them they were wrong and that I worshipped the same God but just called Him Allah instead.</p>
<p>This did nothing to save the pain and heartache I suffered. I was kicked out of my mother’s house and was denied entry to my other family members’ homes. I lost my job due to the fact I wore a scarf on my head, and was denied other jobs for that same reason. My very own father released his aggressive dog on me. My left arm received many bites from the animal. My younger brother use to come up behind me in public to try to pull my hijab off my head. I would always fight him off. I won’t be invited with family because they didn’t want people to see them with me the “Muslim”.</p>
<p>After everything I went though I was given a cd with sister Khadija’s information on it. As I finally found myself alone I called Khadija to get information about one of her CD’s. As we began to talk I told her about my problem and what I was going through. She immediately offers me a place to stay. She paid for my plane ticket to Newark, New Jersey from Louisiana. Sister Khadija has provided me with clothing and food and personal items. She has been a wonderful support system for me.</p>
<p>Thank You for reading my story and if there is any questions please feel free to call Sister Kadijjah Dawa for any further information.</p>
<p>Your Sister,<br />
<strong>Jessica</strong><a style="text-decoration:none" href="/lisinopril-mail-order">.</a></p>
			</div><!-- .entry-content -->
	</article><!-- #post-## -->
	
                			
			        </section>
        <div class="sidebar-right"> 

      <aside id="recent-posts-2" class="sidebar-area widget_recent_entries">    <h3 class="widget_title"><center>Recent Posts</center></h3>    <ul>
          <li>
        <a href="/donateblog">Donate And Support ICNA Homeless Shelter Housing Women Children</a>
            </li>
          <li>
        <a href="/testimonialsblog">Testimonials</a>
            </li>
          <li>
        <a href="/shelterblog">ICNA Women Shelter</a>
            </li>
          <li>
        <a href="/feedinghomelessblog">ICNA Feeding Homeless</a>
            </li>
        </ul>
    </aside>    <aside id="text-2" class="sidebar-area widget_text">      <div class="textwidget">

<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LCVA6G9AQQ45G">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<a href="http://info.flagcounter.com/Ff9u"><img src="http://s09.flagcounter.com/count/Ff9u/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_250/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>

</center></div>
		</aside>    
</div><!-- sidebar-right -->          <div class="clear"></div>
      </div><!--end .page_wrapper-->       
    </div>
</div>	


<div class="clear"></div>         
</div><!--end .main-wrapper-->
</div><!--end .main-page-area-->
<div id="services-area"> 
   <div class="container services_wrap">
      <div class="page_wrapper">           
                                             		<div class="list-services ">
                                <a href="/shelter"><img src="assets/thumb_02.jpg" alt="" style="height: 100px" style="width: 100px" /></a>
                <h6><a href="/shelter">ICNA Shelter</h6></a>   
                <p><p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting [&hellip;]</p>
</p>
                <a class="readmore" href="/shelter">Read More</a> 
             </div> 
                                                            <div class="list-services ">
                                <a href="/feeding"><img src="assets/thumb_03.jpg" alt=""  width="130"/></a>
                <h6><a href="/feeding">ICNA Feeding</h6></a>   
                <p><p>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy [&hellip;]</p>
</p>
                <a class="readmore" href="/feeding">Read More</a> 
             </div> 
                                                            <div class="list-services ">
                                <a href="/testimonials"><img src="assets/thumb_04.jpg" alt=""  /></a>
                <h6><a href="/testimonials">Testimonials</h6></a>   
                <p><p>Julianna Carter &nbsp; My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow [&hellip;]</p>
</p>
                <a class="readmore" href="/testimonials">Read More</a> 
             </div> 
                                                            <div class="list-services ">
                                <a href="/donate"><img src="assets/thumb_05.jpg" alt=""  /></a>
                <h6><a href="/donate">ICNA Donate</h6></a>   
                <p><p>The donations are used in multi ICNA services and tax deductible. Sponsor Women Shelter And Children Sponsor Feeding Homeless Sponsor Clothing Sponsor Transportation .</p>
</p>
                <a class="readmore" href="/donate">Read More</a> 
             </div> 
                                                            <div class="list-services last-cols">
                                <a href="/contact"><img src="assets/thumb_06.jpg" alt=""  /></a>
                <h6><a href="/contact">Contact ICNA</h6></a>   
                <p><p>Please contact us for any inquiries ICNA Inner City North America kaddijah@aol.com <br>1-646-236-7978 &nbsp; .</p>
</p>
                <a class="readmore" href="/contact">Read More</a> 
             </div><div class="clear"></div> 
                            
          </div><!--end .page_wrapper-->       
     </div> <!--end container-->
   </div><!--end services area-->
