<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('assets/body_bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
        <div class="left_shadow"></div>
        <div class="right_shadow"></div>      <div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
            
        <section id="site-main" class="site-main content-part" >        
            <div class="blog-post">
                                    <article id="post-30" class="single-post post-30 post type-post status-publish format-standard hentry category-icnaus-org-news tag-homeless-people-shelter-new-jersey tag-homeless-shelter-list-new-jersey tag-how-many-shelters-in-new-jersey tag-how-to-find-family-shelters-in-new-jersey tag-icna-housing-for-women tag-icna-provide-women-housing-with-children-new-jersey tag-icna-women-children-shelter tag-icna-women-housing-free tag-icna-women-shelter-newark-new-jersey tag-new-jersey-homeless-women-children-housing tag-where-is-the-homeless-shelter-in-new-jersey">

    <header class="entry-header">
        <h3 class="entry-title">ICNA Women Shelter</h3>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <div class="postmeta">
            <div class="post-date">September 12, 2015</div><!-- post-date -->
            <div class="post-comment"> &nbsp;|&nbsp; <a href="http://www.icnaus.org/2015/09/12/icna-women-shelter/#respond">No Comments</a></div>            
            <div class="clear"></div>
        </div><!-- postmeta -->
		       
        <p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting in lines with children. ICNA Women Shelter Women Shelter was founded decade ago by Sis Khadijah, who truly has concern to do something for these abused and needy women and with children to provide them home shelter, clothing, food and daily living necessities.</p>
<p>Because of the support of sincere volunteers and network, many women who came to ICNA US Org, majority of them are abused by husbands or went thru some domestic violence situation, that made them leave the residence, where they have to go thru same situation everyday. They find the information from organizations that refer to ICNA Women Shelter to get immediate assistant and home to stay without going thru gov lines and documentation. ICNA Women Shelter give serious concern regarding these women, rather than going thru questionnaire and interviews. ICNA Women Shelter welcomes anyone in need.</p>
<p>ICNA Women Shelter provides education, counseling, anger management, parental classes, future plans, jobs, emotional healing and much more.<a style="text-decoration:none" href="/best-place-to-buy-klaricid-online-reviews">.</a></p>
                <div class="postmeta">
            <div class="post-categories"><a href="/news" rel="category tag">ICNAUS Org News</a></div>
            <div class="post-tags"> &nbsp;|&nbsp; <!-- Tags: <a href="http://www.icnaus.org/tag/homeless-people-shelter-new-jersey/" rel="tag">homeless people shelter new jersey</a>, <a href="http://www.icnaus.org/tag/homeless-shelter-list-new-jersey/" rel="tag">homeless shelter list new jersey</a>, <a href="http://www.icnaus.org/tag/how-many-shelters-in-new-jersey/" rel="tag">how many shelters in new jersey</a>, <a href="http://www.icnaus.org/tag/how-to-find-family-shelters-in-new-jersey/" rel="tag">how to find family shelters in new jersey</a>, <a href="http://www.icnaus.org/tag/icna-housing-for-women/" rel="tag">icna housing for women</a>, <a href="http://www.icnaus.org/tag/icna-provide-women-housing-with-children-new-jersey/" rel="tag">icna provide women housing with children new jersey</a>, <a href="http://www.icnaus.org/tag/icna-women-children-shelter/" rel="tag">icna women children shelter</a>, <a href="http://www.icnaus.org/tag/icna-women-housing-free/" rel="tag">icna women housing free</a>, <a href="http://www.icnaus.org/tag/icna-women-shelter-newark-new-jersey/" rel="tag">icna women shelter newark new jersey</a>, <a href="http://www.icnaus.org/tag/new-jersey-homeless-women-children-housing/" rel="tag">new jersey homeless women children housing</a>, <a href="http://www.icnaus.org/tag/where-is-the-homeless-shelter-in-new-jersey/" rel="tag">where is the homeless shelter in new jersey</a> --><br /> </div>
            <div class="clear"></div>
        </div><!-- postmeta -->
    </div><!-- .entry-content -->
   
    <footer class="entry-meta">
            </footer><!-- .entry-meta -->
</article>                    	<div role="navigation" id="nav-below" class="post-navigation">
		<h1 class="screen-reader-text">Post navigation</h1>

	
		<div class="nav-previous"><a href="/feedinghomelessblog" rel="prev"><span class="meta-nav">&larr;</span> ICNA Feeding Homeless</a></div>		<div class="nav-next"><a href="/testimonialsblog" rel="next">Testimonials <span class="meta-nav">&rarr;</span></a></div>
			<div class="clear"></div>
	</div><!-- #nav-below -->
	                                                </div>        
        </section>
        <div class="sidebar-right"> 

      <aside id="recent-posts-2" class="sidebar-area widget_recent_entries">    <h3 class="widget_title">Recent Posts</h3>    <ul>
          <li>
        <a href="/donateblog">Donate And Support ICNA Homeless Shelter Housing Women Children</a>
            </li>
          <li>
        <a href="/testimonialsblog">Testimonials</a>
            </li>
          <li>
        <a href="/shelterblog">ICNA Women Shelter</a>
            </li>
          <li>
        <a href="/feedinghomelessblog">ICNA Feeding Homeless</a>
            </li>
        </ul>
    </aside>    <aside id="text-2" class="sidebar-area widget_text">      <div class="textwidget">

<center>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><label style="display:block;"><input type="hidden" name="cmd" value="_donations"> <input type="hidden" name="business" value="kaddijah@aol.com"> <input type="hidden" name="lc" value="US"> <input type="hidden" name="item_name" value="kadijahdawastore"> <input type="hidden" name="item_number" value="kaddijah@aol.com"> <input type="hidden" name="no_note" value="0"> <input type="hidden" name="currency_code" value="USD"> <input type="hidden" name="bn" value="PP-DonationsBF:bild_islam_science.gif:NonHostedGuest"></label> 
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="height:59; width:175" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>


<a href="http://info.flagcounter.com/Ff9u"><img src="http://s09.flagcounter.com/count/Ff9u/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_250/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>

</center></div>
		</aside>    
</div><!-- sidebar-right -->         <div class="clear"></div>
        </div><!--end .page_wrapper-->
    </div>
</div>
	
<div class="clear"></div>         
</div><!--end .main-wrapper-->
</div><!--end .main-page-area-->
<div id="services-area"> 
   <div class="container services_wrap">
      <div class="page_wrapper">           
                                             		<div class="list-services ">
                                <a href="/shelter"><img src="assets/thumb_02.jpg" alt="" style="height: 100px" style="width: 100px" /></a>
                <h6><a href="/shelter">ICNA Shelter</h6></a>   
                <p><p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting [&hellip;]</p>
</p>
                <a class="readmore" href="/shelter">Read More</a> 
             </div> 
                                                            <div class="list-services ">
                                <a href="/feeding"><img src="assets/thumb_03.jpg" alt=""  width="130"/></a>
                <h6><a href="/feeding">ICNA Feeding</h6></a>   
                <p><p>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy [&hellip;]</p>
</p>
                <a class="readmore" href="/feeding">Read More</a> 
             </div> 
                                                            <div class="list-services ">
                                <a href="/testimonials"><img src="assets/thumb_04.jpg" alt=""  /></a>
                <h6><a href="/testimonials">Testimonials</h6></a>   
                <p><p>Julianna Carter &nbsp; My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow [&hellip;]</p>
</p>
                <a class="readmore" href="/testimonials">Read More</a> 
             </div> 
                                                            <div class="list-services ">
                                <a href="/donate"><img src="assets/thumb_05.jpg" alt=""  /></a>
                <h6><a href="/donate">ICNA Donate</h6></a>   
                <p><p>The donations are used in multi ICNA services and tax deductible. Sponsor Women Shelter And Children Sponsor Feeding Homeless Sponsor Clothing Sponsor Transportation .</p>
</p>
                <a class="readmore" href="/donate">Read More</a> 
             </div> 
                                                            <div class="list-services last-cols">
                                <a href="/contact"><img src="assets/thumb_06.jpg" alt=""  /></a>
                <h6><a href="/contact">Contact ICNA</h6></a>   
                <p><p>Please contact us for any inquiries ICNA Inner City North America kaddijah@aol.com <br>1-646-236-7978 &nbsp; .</p>
</p>
                <a class="readmore" href="/contact">Read More</a> 
             </div><div class="clear"></div> 
                            
          </div><!--end .page_wrapper-->       
     </div> <!--end container-->
   </div><!--end services area-->
