<div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
       <header class="entry-header">
         <div class="entry-content">
<h1>New Testimonial</h1>

<%= render 'form' %>
<br>
<%= link_to 'Back', testimonials_path %>
</div>
        </header> 
      </div>
    </div>
  </div>